<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>RetinaScope - Диагностика Патологий Сетчатки</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="header-container">
        <nav class="navbar">
            <a href="/" class="home-button">RetinaScope</a>
            <button class="toggle-header">☰</button>
        </nav>
        <div class="header-content">
            <div class="container">
                <div class="about">
                    <div class="title">О ПРИЛОЖЕНИИ</div>
                    <p>В данном приложении используются обученные модели машинного обучения для определения отсутствия или наличия патологии сетчатки глаза на ОКТ-изображениях.</p>
                </div>
                <div class="authors">
                    <div class="title">АВТОРЫ</div>
                    <div class="authors-container">
                        <div class="author">
                            <div class="name">Денис Владиславович ДЗЮБА</div>
                            <p><a href="https://krasgmu.ru/index.php?page[common]=user&id=73742">KrasGMU</a></p>
                            <p><a href="mailto:denbagfh@gmail.com">denbagfh@gmail.com</a></p>
                        </div>
                        <div class="author">
                            <div class="name">Артем Николаевич НАРКЕВИЧ</div>
                            <p><a href="https://krasgmu.ru/index.php?page[common]=user&id=528">KrasGMU</a></p>
                            <p><a href="mailto:narkevichart@gmail.com">narkevichart@gmail.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="main-container">
        <h1 class="main-title">Добро пожаловать в RetinaScope</h1>
        <p class="subtitle">Выберите один из модулей для начала работы</p>
            <div class="buttons-container">
            <div class="button-with-icon">
                <img src="{{ url_for('static', filename='image_parameterization_icon.png') }}" alt="Параметризация" class="icon">
                <a href="{{ url_for('parameterization') }}" class="main-button">Параметризация изображений</a>
            </div>
            <div class="button-with-icon">
                <img src="{{ url_for('static', filename='multidimensional_models_icon.png') }}" alt="Многомерные модели" class="icon">
                <a href="{{ url_for('multidimensional_models') }}" class="main-button">Многомерные модели</a>
            </div>
            <div class="button-with-icon">
                <img src="{{ url_for('static', filename='neural_networks_icon.png') }}" alt="Нейронные сети" class="icon">
                <a href="{{ url_for('neural_networks') }}" class="main-button">Нейронные сети</a>
            </div>
            </div>
        <footer>
            <p>by Denis Dzuba 2023</p>
        </footer>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('.toggle-header').addEventListener('click', function() {
        document.querySelector('.header-content').classList.toggle('open');
        });
    });
    </script>

</body>
</html>