<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Многомерные модели - RetinaScope</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
</header>
<div class="header-container">
    <nav class="navbar">
        <a href="/" class="home-button">RetinaScope</a>
        <button class="toggle-header">☰</button>
    </nav>
    <div class="header-content">
        <div class="container">
            <div class="about">
                <div class="title">О ПРИЛОЖЕНИИ</div>
                <p>В данном приложении используются обученные модели машинного обучения для определения отсутствия или наличия патологии сетчатки глаза на ОКТ-изображениях.</p>
            </div>
            <div class="authors">
                <div class="title">РЕЗУЛЬТАТ КАЖДОЙ МОДЕЛИ</div>
                <div class="authors-container">
                    <div class="author">
                        <div class="results-container">
                            {% if classification_results %}
                                {% for model_name, result in classification_results.items() %}
                                    <p><b>{{ model_name }}:</b> {{ result }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</header>
    <div class="main-container">
        <h1 class="main-title">Многомерные модели</h1>
        <form action="{{ url_for('multidimensional_models') }}" method="post" enctype="multipart/form-data">
            <input type="file" name="imagefile" required>
            <button type="submit" class="main-button">Классифицировать изображение</button>
        </form>

        <div class="results-container">
            {% if classification_results %}
                <h2>Результат классификации:</h2>
            {% endif %}

            {% if image_show %}
                <div class="image-container">                    
                    <img src="{{ url_for('static', filename='uploads/' ~ image_show) }}" alt="Загруженное изображение">
                </div>
            {% endif %}

            {% if overall_result %}
            <div class="overall-result">
                <p class="big-result"></b>{{ overall_result }}</p>
            </div>
            {% endif %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelector('.toggle-header').addEventListener('click', function() {
        document.querySelector('.header-content').classList.toggle('open');
        });
    });
    </script>
</body>
<footer>
    <p>by Denis Dzuba 2023</p>
</footer>
</html>