<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Параметризация изображений- RetinaScope</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
</header>
    <div class="header-container">
        <nav class="navbar">
            <a href="/" class="home-button">RetinaScope</a>
            <button class="toggle-header">☰</button>
        </nav>
        <div class="header-content">
            <div class="container">
                <div class="about">
                    <div class="title">О ПРИЛОЖЕНИИ</div>
                    <p>В данном приложении используются обученные модели машинного обучения для определения отсутствия или наличия патологии сетчатки глаза на ОКТ-изображениях.</p>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main-container">
    <h1>Параметризация изображений</h1>
    <form action="{{ url_for('parameterization') }}" method="post" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-col">
                <label for="imageUpload">Загрузите изображение:</label>
                <input type="file" name="image" id="imageUpload" accept="image/*" required>
            </div>
            <div class="form-col">
                <!-- Кнопка теперь в своем столбце -->
                <button type="submit" class="main-button">Обработать изображение</button>
            </div>
            <div class="form-col">
                <label for="methodSelect">Выберите метод:</label>
                <select name="method" id="methodSelect">
                    <option value="hog">HOG</option>
                    <option value="lbp">LBP</option>
                </select>
                <div id="lbpParams" class="form-row" style="display: none;">
                    <label for="pParam">Количество точек:</label>
                    <input type="number" name="P" id="pParam" value="8">
                    <label for="rParam">Радиус:</label>
                    <input type="number" name="R" id="rParam" value="2">
                </div>
            </div>
        </div>
        </form>
        {% if result_image %}
        <div class="results-container">
            <h2>Результат обработки:</h2>
            <img src="{{ url_for('static', filename='results/' ~ result_image) }}" alt="Результат обработки">
        </div>
        {% else %}
        <div class="no-results-container">
            <p></p>
        </div>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var methodSelect = document.getElementById('methodSelect');
            var lbpParams = document.getElementById('lbpParams');
            methodSelect.addEventListener('change', function() {
                if (this.value === 'lbp') {
                    lbpParams.style.display = 'block';
                } else {
                    lbpParams.style.display = 'none';
                }
            });
        });
    </script>
        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelector('.toggle-header').addEventListener('click', function() {
            document.querySelector('.header-content').classList.toggle('open');
            });
        });
        </script>
</body>
<footer>
    <p>by Denis Dzuba 2023</p>
</footer>
</html>